
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{

    margin: 0;
    padding: 0;
    font-family: 'Lato';
    overflow-x: hidden; 
}
.menu-nav{
    background-color: #282828;
    border-radius: 15px;
    width: 50px;
    padding: 3px;
    height: 30px;
    position: relative;
    display: none;
}
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background: var(--gris);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(blue, #555EE1, #02FFD9);
    transition: 1s;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#555EE1, #02FFD9);
    transition: 1s;
}
:root {
    --colorPrimario: #000;
    --colorSecundario: #fff;
    --acento1: #02FFD9;
    --acento2: #555EE1;
    --acento3: #754FE2;
    --acento4: #DB82F1;
    --gris:#282828;
}
header{
    position: fixed;
    top: 0;
    padding: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.519);
}
header.abajo{
    background: #282828;
    padding: 5px 0px;
    border-bottom: 1px solid #7c7c7c;
}
.logo-class-nav{
    display: flex;
    padding: 4px;
    align-items: center;
    margin: 0;
    gap: 5px;
    padding: 0;
}
.logo-class-nav .logo{
    position: relative;
    width: 14%;
    height: 65%;
    transition: 1.5s;
    object-fit: cover;
    text-decoration: none;
}
header p{
    font-family: 'Black Ops One';
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color:#282828;
}
header.abajo p{
    color:#fff;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header ul li{
    list-style: none;
    width: 16%;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #282828;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}
header.abajo ul li a{
    color:#fff;
}
.button-nav{
    font-family: helvetica;
    padding: 10px 20px;
    border-radius: 15px;
    border-style: none;
    outline: none;
    background-color: #555EE1;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;  
}

.seccion-main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.6)),url(/img/fondo.jpg);
    background-size: cover;
    background-position: center center;
}
header.abajo .button-nav{
    background-color: #754FE2;
}
/*main*/
.seccion-main{
    display: flex;
    width: 100%;
}
.secction-main-primary{
    width: 80%;
    height: 100vh;
    align-items: center;
    display: grid;
    justify-content: center;
    place-items: center;
    overflow: hidden;
}
.main-primary{
    width: 70%;
    height: 60%;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow:visible;
    padding: 20px;
}
.main-primary:hover{
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow:  20px 20px 60px #6b6b6b52,
    -20px -20px 60px #00000067;
    transition: 1s;
    border: 1px solid var(--colorSecundario);
}
.main-primary h1{
    color: var(--colorSecundario);
    font-size: 5.4rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 100%;
}
.main-primary p{
    color: var(--colorSecundario);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 197, 197);
    font-weight: 200;
    font-size: 18px;
    overflow: hidden;
    text-overflow:ellipsis;  
    width: 100%;
    padding: 0;
}
.main-primary button{
    padding: 5% 20%;
    border: 1px solid #FFF;
    color: wheat;
    border-radius: 15px;
    background: linear-gradient(90deg, #1a1a1a14 4.69%, #555EE1 80%);
    font-size: 1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    margin: 0;
    
}
.secction-main-secondary{
    width: 40%;
    height: 100vh;
    background: linear-gradient(90deg, #00000000 10.69%, #464ca099 100%);
    display: grid;
    place-items: center;
}
.secction-main-secondary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:852px){
    .main-primary{
        padding: 10px;
        height: 80%;
    }
    .main-primary p{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main-primary h1{
        font-size: 4.5rem;
    }
    .menu-nav{
        display: block;
    }
    .button-nav{
        display: none;
    }
    nav ul li{
        display: none;
    }
}
@media(max-width:662px){
    .main-primary{
        width: 80%;
    }
   .secction-main-primary{
    width: 100%;
    transition: 1s;
   } 
   .secction-main-secondary{
    display: none;
    transition: 1s;
   }
   nav ul li{
    display: none;
}
    .main-primary h1{
        font-size: 4.2rem;
        font-weight: bolder;
        padding: 0;
        top: 0;
    }
    .menu-nav{
        display: block;
    }
}
@media(max-width:425px){
    nav ul li{
        display: none;
    }
    .main-primary h1{
        font-size: 4.3rem;
        font-weight: bolder;
    }
    .button-nav{
        display: none;
    }
    .main-primary h1{
        font-size: 4rem;
    }
}

.secction-que-ofrecemos{
    width: 100vw;
    height: 80vw;
    padding: 0;
    margin: 0;
    background-color: var(--gris);
}